.postList {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;

  @media (min-width: $sm-screen) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $lg-screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
