.modal {
  background-color: rgba(0, 0, 0, 40%);
  display: block;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .modalContent {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    max-width: 550px;
  }
}
